* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f5f5f5;
}

header {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: #2e2e2e;
  color: #fff;
  width: 100%;
  justify-content: space-between;
  padding: 0px 25px;
  align-items: center;
  height: 50px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 50px;
  height: 50px;
}
.navbar,
.navbar-list {
  display: flex;
  margin: auto;
  padding: 0px 20px;
  align-items: center;
  justify-content: center;
}
.navbar {
  gap: 120px;
}
.navbar-list {
  gap: 100px;
}

.navbar-list li {
  margin: 0 1rem;
  font-size: 13px;
}

.navbar-list a {
  color: #fff;
}

.navbar-list a:hover {
  color: #f97bbf;
}
/* main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(30, 30, 30);
} */

/* ----------HERO------------ */

#hero {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.342)),
    url(./Assets/Img/Hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
}
.hero-container {
  width: 90%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: left;
}
#hero .info h1 {
  font-size: 35px;
  /* text-transform: uppercase; */
  margin-bottom: 1rem;
}
#hero .info h2 {
  font-size: 25px;
  margin-bottom: 2rem;
}
#hero .info p {
  font-size: 20px;
  max-width: 60%;
}
#hero .info button {
  padding: 12px 24px;
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#hero .info button:hover {
  background-color: #333;
  color: #fff;
}

/* -----Products----- */
#products {
  width: 100%;
  display: flex;
  padding: 70px 30px;
  justify-content: space-around;
  color: #2e2e2e;
  flex-wrap: wrap;
  gap: 50px;
  position: relative;
}
.product-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.card-container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  transition: transform 0.3s ease-in-out;
}

.card {
  width: 250px;
  height: 370px;
  margin: 0 20px;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  perspective: 1000px;
  border-radius: 15px;
  border: 1px solid #808080;
}
.card-front {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}
.product-card-image {
  padding: 40px 0px;
  background-size: 100% 150px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("/Assets/Img/2.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  color: #e6e6e6;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.btn-buy {
  cursor: pointer;
  padding: 10px 35px;
  color: #e1e1e1;
  background: #2e2e2e;
  border-radius: 10px;
  border: none;
  margin: 20px;
}

.product-name {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 20px;
  text-align: center;
}

.product-price,
.product-duration {
  margin-top: 5px;
  padding: 20px;
  justify-content: space-between;
  display: flex;
  font-size: 15px;
}
.product-price p,
.product-duration p {
  font-weight: 700;
}
.product-price span,
.product-duration span {
  font-weight: 600;
}
.product.bot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.flip-icon {
  font-size: 1.5rem;
  cursor: pointer;
}
.btn-flip {
  display: flex;
  align-items: center;
}

.btn-buy {
  margin-right: 70px;
}
.card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
  text-align: center;
  padding: 20px;
  backface-visibility: hidden;
}
.itinerario {
  white-space: pre-line;
  margin: 20px 0;
  font-size: 10px;
}
.itinerario li {
  display: flex;
}
.itinerario span {
  font-weight: 700;
}
.card.flipped .card-front {
  display: none;
  transform: rotateY(180deg);
}

.card.flipped .card-back {
  display: block;
  transform: rotateY(0);
}

/* ----ARROWS---- */

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.left-arrow {
  left: 20px;
}

.right-arrow {
  right: 20px;
}

.arrow:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.arrow:before {
  display: block;
  width: 10px;
  height: 10px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  transform: rotate(45deg);
}

.arrow-left:before {
  transform: rotate(-135deg);
}
